@import url(http://fonts.googleapis.com/css?family=Capriola);

/* General */
/*
* { margin: 0; padding: 0; }

html { height: 100%; font-size: 62.5% }

body {
height: 100%;
background-color: #10578D;
text-align: center;
font: 1.2em Verdana, Arial, Helvetica, sans-serif;
}
*/
<!--

A:link {text-decoration: none; color:#996600;}
A:visited {text-decoration: none; color:#996600;}
A:active {text-decoration: none; color: #339999;}
A:hover {text-decoration: underline; color: #339999;}

html {
	min-height: 100%;
	background-image: url(img/bg.jpg);
	margin: 0px;
	padding: 10px;
}

* {
	margin: 0;
	padding: 0;
font: 1.0em Verdana, Arial, Helvetica, sans-serif;
}

body {
}

.clearer {
	clear: both;
	font-size: 0;
}

.left {
	float: left;
}

.inner-container {
	font-size: 1.2em;
	margin: 0 auto;
	padding: 10px;
	width: 1020px;
	margin-top: 8px;
}

.outer-container {
	padding-bottom: 14px;
}

.header {
	height: 560px;
	margin-bottom: 5px;
}

.contents {
	height: 420px;
	margin-top: 1 8px;
	padding: 20px;
}

.navigation {
	height: 25px;
	margin-top: 12px;
}

.footer {
	margin-top: 8px;
	padding: 2px 4px;
}

.footer a {
	color: #000000;
	text-decoration: none;
}

.footer A:link {text-decoration: none; color:#996600;}
.footer A:visited {text-decoration: none; color:#996600;}
.footer A:active {text-decoration: none; color: #339999;}
.footer A:hover {text-decoration: underline; color: #339999;}

--> /*
.box-top {
background: url('images/box-top.gif') no-repeat 0 0;
height: 12px;
}
*/
.box {
	background: url('img/box-bg.gif') repeat-y 0 0;
}

.box-in {
	background-color: #FFFFFF;
	padding: 0.8em 0 5em 0;
	margin: 0 1em 0 1em;
}

.box-in p {
	line-height: 1.6;
	margin: 0 0 10px 25px;
	color: #242424;
}
/*
.box-bottom {
background: url('images/box-bottom.gif') no-repeat 0 100%;
height: 48px;
}
*/
#topmenu ul {
	list-style: none;
	float: left;
}

#topmenu ul li {
	float: left;
	display: inline; /*For ignore double margin in IE6*/
	margin: 0 5px;
	height: 33px;
	width: 160px;
	text-align: center;
	color: #996600;
}

#topmenu ul li a {
	text-decoration: none;
	float: left;
	font-size: 18px;
}

#topmenu ul.button li a {
	background: url(img/button.png) no-repeat;
	height: 33px;
	width: 160px;
	color: #996600;
}

#topmenu ul.button li a.cart {
	background: url(img/button_cart.png) no-repeat;
	height: 33px;
	width: 160px;
	color: #996600;
}

#topmenu ul.button li a.cartcurrent {
	background: url(img/button_cart.png) no-repeat;
	height: 33px;
	width: 160px;
	color: #ffffff;
}

#topmenu ul.button li a.current,ul.button li a:hover {
	background: url(img/button.png) no-repeat;
	height: 33px;
	width: 160px;
	color: #339999;
}

.twitter_container{

color:#444;
font-size:12px;
width:600px;
margin: 0px 10px 10px 10px;

}
.twitter_container a{

color:#0066CC;
font-weight:bold;

}
.twitter_title{

height:20px;
padding:6px;
color:#444;
font-size:12px;
border-bottom:solid 1px #DEDEDE;

}
.twitter_status{

height:60px;
padding:6px;
border-bottom:solid 1px #DEDEDE;

}
.twitter_image{

float:left;
margin-right:14px;
border:solid 2px #DEDEDE;
width:50px;
height:50px;

}
.twitter_posted_at{

font-size:11px;
padding-top:4px;
color:#999;

}

}